/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.generador-de-meme {
    display: flex;
}

.meme-contenedor {
    width: 100%;
}

/* Estilos al HEADER: titulo y botones */

header {
    width: 100%;
    height: 20vh;
    background-color: #af7ead;
    box-shadow: 0 4px 5px #1b003a;
}

.titulo-principal {
    text-align: center;
    padding: 20px;
    font-size: 1.875rem;
    font-family: 'Amatic SC', sans-serif;
    font-family: 'Press Start 2P', system-ui;
    background: linear-gradient(to right, #4b1c71, #7f4ca5, #26053d);
    -webkit-background-clip: text;
    color: transparent;
}

/* BOTONES */

.botones-navegacion {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.boton-de-modo-claro {
    display: none;
}

.headerBtn {
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 1.375rem;
    color: #1b003a;
    font-family: 'Amatic SC', sans-serif;
    padding: 0 10px;
    cursor: pointer;
}

.headerBtn i {
    margin-right: 5px;
}

.headerBtn::after {
    content: "";
    position: absolute;
    background-color: #1b003a;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: width 0.3s;
}

.headerBtn.modo-oscuro::after {
    background-color: #dac9df;
}

.headerBtn:hover::after {
    width: 100%;
}

/* Estilos para el ÁREA DEL MEME */

main {
    background-color: #f5dff5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 15px;
}

.contenedor-de-meme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 570px;
    height: 435px;
    box-shadow: 0 0 15px #1b003a;
    position: relative;
}

.texto-superior,
.texto-inferior {
    width: 100%;
    text-align: center;
    padding: 20px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    background-color: white;
    z-index: 1;
}

.texto-superior {
    top: 0px;
}

.texto-inferior {
    bottom: 0px;
}

.imagen-meme {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.boton-de-descarga {
    border: 1px solid #1b003a;
    border-radius: 8px;
    background: linear-gradient(to right, #af7ead, #1b003a);
    color: #1b003a;
    padding: 6px 9px;
    font-size: 1.125rem;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bolder;
    box-shadow: 0 0 10px #1b003a;
    margin-top: 20px;
}

.boton-de-descarga:hover {
    background: linear-gradient(to right, #1b003a, #af7ead);
    color: #dac9df;
    transform: scale(0.85);
}

.boton-de-descarga i {
    margin-right: 3px;
}

/* Estilos para EDITOR DE IMÁGEN */

.editor-de-imagen {
    width: 20vw;
    padding: 20px 10px;
    height: 100vh;
    background-color: #b988b8;
}

.titulo-principal-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-imagen {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', system-ui;
    color: #dac9df;
    padding: 15px;
    flex-grow: 1;
}

.cerrar-menu {
    border: none;
    background: none;
    padding: 5px 4px;
    cursor: pointer;
    border-radius: 5px;
    color: #1b003a;
}

.cerrar-menu:hover {
    color: #e7cfef;
    background-color: #3b113b;
}

.cerrar-menu {
    display: none;
}

/* Añadición de imágen */

.titulo-añadeImagen {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bolder;
    font-family: 'Amatic SC', sans-serif;
    color: #1b003a;
}

.contenedor-de-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 5px;
}

.input-url,
.input-archivo {
    flex-grow: 1;
}

.url-de-imagen {
    width: 100%;
    padding: 10px;
    background-color: #dcbadb;
    font-weight: bolder;
    border: 1px solid #3b113b;
    border-radius: 5px;
    box-shadow: 0 0 10px #1b003a;
}

#url-de-imagen::placeholder {
    color: #1b003a;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1rem;
}

.input-archivo {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-subir-archivo {
    margin-left: 4px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #3b113b;
    color: #b988b8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

#agrega-archivo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

/* FONDO */

h3 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bolder;
    font-family: 'Amatic SC', sans-serif;
    color: #1b003a;
}

.colores-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color-del-input {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="color"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

#color-de-fondo {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #3b113b;
    color: #dac9df;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #1b003a;
}

#color-de-fondo::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--circle-color, #FFFFFF);
}


.mezcla-de-colores {
    padding: 6px;
    font-size: 0.938rem;
    font-weight: bolder;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    color: #af7ead;
    background-color: #3b113b;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #1b003a;
}

/* FILTROS */

.filtros-contenedor {
    font-family: 'Amatic SC', sans-serif;
    font-weight: bolder;
    color: #1b003a;
    font-size: 1rem;
    margin-top: 10px;
}

.filtro-deslizador {
    width: 100%;
}

/* BOTON RESTABLECEDOR DE FILTROS */

.btn-restablecer-filtros {
    text-align: center;
    margin-top: 6px;
}

.boton-restablecedor {
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background: linear-gradient(to right, #503459, #81638b);
    color: #b988b8;
    border: none;
    border-radius: 5px;
    padding: 6px;
    box-shadow: 0 0 10px #1b003a;
    transition: background 0.3s ease;
}

.boton-restablecedor i {
    margin-right: 5px;
}

.boton-restablecedor:hover {
    background: linear-gradient(to right, #81638b, #503459);
    color: #3b113b;
}

/* Estilos para: EDITOR DE TEXTO */

.editor-de-texto {
    width: 20vw;
    padding: 20px 10px;
    height: 100vh;
    background-color: #b988b8;
}

.titulo-principal-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-texto {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', system-ui;
    color: #dac9df;
    padding: 15px;
    flex-grow: 1;
}

.cerrar-menu-txt {
    border: none;
    background: none;
    padding: 5px 4px;
    cursor: pointer;
    border-radius: 5px;
    color: #1b003a;
}

.cerrar-menu-txt:hover {
    color: #e7cfef;
    background-color: #3b113b;
}

.cerrar-menu-txt {
    display: none;
}

/* Estilos para las secciones de texto */

.area-superior,
.area-inferior {
    background-color: #dcbadb;
    width: 100%;
    padding: 2px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px #1b003a;
}

.flex-check {
    display: flex;
    align-items: stretch;
}

.control-checkbox input {
    margin-right: 2px;
}

.area-superior::placeholder {
    color: #1b003a;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1rem;
}

.area-inferior::placeholder {
    color: #1b003a;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1rem;
}

label {
    color: #1b003a;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bolder;
    font-size: 1.063rem;
}

/* FUENTES */

.fuente-de-familia {
    width: 100%;
    text-align: center;
    padding: 7px;
}

#fuente-de-familia {
    background-color: #dcbadb;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #1b003a;
    color: #3b113b;
    font-family: Arial, Helvetica, sans-serif;
}

.fuente-contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

#tamaño-de-fuente {
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    background-color: #dac9df;
    color: #3b113b;
    font-weight: bolder;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1rem;
    box-shadow: 0 0 10px #1b003a;
}

#btn-izquierda,
#btn-centrado,
#btn-derecha {
    background-color: #dac9df;
    color: #3b113b;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 6px;
    box-shadow: 0 0 10px #1b003a;
}

#btn-izquierda:hover,
#btn-centrado:hover,
#btn-derecha:hover {
    background-color: #3b113b;
    color: #dac9df;
}

/* COLOR DE FUENTE */

.color-contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.color-de-fuente,
.color-de-fondo {
    position: relative;
    display: flex;
    margin-top: 2px;
}

input[type="color"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

span {
    display: flex;
    align-items: center;
    background-color: #3b113b;
    color: #dac9df;
    padding: 7px;
    border: none;
    border-radius: 5px
}

span::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

span#color-texto::before {
    background-color: var(--circle-color, #FFFFFF);
}

span#color-fondo-texto::before {
    background-color: var(--circle-color, #FFFFFF);
}

/* CONTORNO DE FUENTE */

.contorno-fuente {
    margin-top: 5px;
}

.contornos {
    display: flex;
    justify-content: space-around;
}

.btn-de-contorno {
    border: none;
    border-radius: 5px;
    padding: 4px;
    background-color: #dac9df;
    color: #3b113b;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    box-shadow: 0 0 10px #1b003a;
}

.btn-de-contorno:hover {
    background-color: #3b113b;
    color: #dac9df;
}

/* ESPACIADO DE FUENTE */

.espaciado-fuente {
    margin-top: 15px;
}

#espaciado {
    width: 100%;
    margin-top: 2px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    background-color: #dac9df;
    color: #3b113b;
    font-weight: bolder;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1rem;
    box-shadow: 0 0 10px #1b003a;
}

/* INTERLINEADO DE FUENTE */

.interlineado-fuente {
    margin-top: 10px;
}

#select-interlineado {
    width: 100%;
    margin-top: 2px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    background-color: #dac9df;
    color: #3b113b;
    font-weight: bolder;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1rem;
    box-shadow: 0 0 10px #1b003a;
}

.editor-de-texto {
    display: none;
}

/* Diseño RESPONSIVO */

@media (max-width: 767px) {

    /* body */
    body {
        display: flex;
    }

    /* Contenedor */
    .meme-contenedor {
        width: 100%;
    }

    /* Header */
    header {
        width: 100%;
        height: 20vh;
    }

    .titulo-principal {
        font-size: 1.25rem;
    }

    .boton-de-imagen,
    .boton-de-fuente,
    .boton-de-modo-oscuro,
    .boton-de-modo-claro {
        font-size: 0.813rem;
    }

    /* MAIN */
    main {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .contenedor-de-meme {
        width: 350px;
        height: 350px;
    }


    /* IMAGEN */
    .editor-de-imagen,
    .editor-de-texto {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .cerrar-menu,
    .cerrar-menu-txt {
        display: inline-block;
    }

    .colores-contenedor,
    .color-contenedor {
        display: flex;
        justify-content: space-around;
    }

    .opcion-checkbox {
        text-align: center;
    }
}

/* Estilos para tablet */
@media (min-width: 768px) and (max-width: 1230px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .titulo-principal {
        font-size: 2.5rem;
    }

    .headerBtn {
        font-size: 2rem;
    }

    main {
        display: flex;
        justify-content: space-evenly;
    }

    /* IMAGEN */

    .editor-de-imagen {
        width: auto;
        height: auto;
    }

    .editor-de-texto {
        width: auto;
        height: auto;
    }

    .titulo-imagen,
    .titulo-texto {
        font-size: 2.2rem;
    }

    .titulo-añadeImagen {
        font-size: 2rem;
        margin-top: 20px;
    }

    .contenedor-de-inputs {
        display: flex;
        flex-direction: column;
    }

    .input-url {
        width: 100%;
    }

    .input-archivo {
        margin-top: 15px;
        width: 100%;
    }

    h3 {
        font-size: 1.8rem;
    }

    .colores-contenedor {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .contenedor-deslizador {
        margin-top: 20px;
    }

    .btn-restablecer-filtros {
        margin-top: 35px;
    }

}

/* Estilos para computadora */
@media (min-width: 1440px) {
    header {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .titulo-principal {
        font-size: 2.5rem;
    }

    .headerBtn {
        font-size: 2rem;
    }

    main {
        justify-content: space-evenly;
    }

    .contenedor-de-meme {
        height: 700px;
        width: 755px;
    }

    .texto-superior,
    .texto-inferior {
        padding: 40px;
    }

    .editor-de-imagen,
    .editor-de-texto {
        width: 25%;
    }

    .boton-de-descarga {
        font-size: 2.2rem;
    }

    .titulo-imagen,
    .titulo-texto {
        font-size: 2.5rem;
        margin-block: 25px;
    }

    /* IMAGEN */

    .titulo-añadeImagen {
        font-size: 2rem;
    }

    .url-de-imagen {
        padding: 15px 20px;
    }

    #url-de-imagen::placeholder {
        font-size: 2rem;
    }

    .btn-subir-archivo {
        padding: 15px;
    }

    h3 {
        font-size: 2.2rem;
    }

    .fondo-contenedor {
        margin-top: 20px;
    }

    #color-de-fondo,
    .mezcla-de-colores {
        width: 200px;
        height: 50px;
    }

    .color-del-input {
        width: 200px;
        height: 50px;
    }

    input[type="color"] {
        width: 200px;
        height: 50px;
    }

    .colores-contenedor {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .filtros-contenedor {
        margin-top: 20px;
    }

    label {
        font-size: 2.1rem;
    }

    .contenedor-deslizador {
        margin-top: 5px;
    }

    .boton-restablecedor {
        font-size: 1.27rem;
        margin-top: 20px;
    }

    /* TEXTO */

    .area-superior,
    .area-inferior {
        height: 50px;
    }

    .area-superior::placeholder,
    .area-inferior::placeholder {
        font-size: 2rem;
    }

    .fuente-de-familia {
        height: 50px;
        font-size: 1.6rem;
    }


}